<!DOCTYPE html>
<html lang="en">

<head>

	<%- include("head") %>

    <link href="stylesheets/login.css" rel="stylesheet">
</head>

<body>


    <%- include("nav") %>
    <!-- Navigation -->


    <div class="container">

  		<div class="row">
			<div class="main">
	      <h3>登入，或者<a href="/signup">注册</a></h3>
	      <div class="row">
	        <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-3">
	          <a href="#" class="btn btn-lg btn-primary btn-block">微信登录</a>
	        </div>
	      </div>
	      <div class="login-or">
	        <hr class="hr-or">
	        <span class="span-or">or</span>
	      </div>

	      <form role="form" action="/login" method="post">
	        <div class="form-group">
	          <label for="inputUsernameEmail">Email</label>
	          <input type="text" class="form-control" id="inputUsernameEmail" name="username">
	        </div>
	        <div class="form-group">
	          <a class="pull-right" href="#">Forgot password?</a>
	          <label for="inputPassword">Password</label>
	          <input type="password" class="form-control" id="inputPassword" name="password">
	        </div>
	        <div class="checkbox pull-right">
	          <label>
	            <input type="checkbox">
	            Remember me </label>
	        </div>
	        <button type="submit" class="btn btn btn-primary">
	          Log In
	        </button>
	      </form>
	    </div>

	    
	  </div>
	</div>


	<!-- Footer -->
    <%- include("footer") %>


     <!-- jQuery -->
    <script src="libs/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="libs/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>


    <!-- Contact Form JavaScript -->
    <script src="javascripts/jqBootstrapValidation.js"></script>
    <script src="javascripts/contact_me.js"></script>

    <!-- Theme JavaScript -->
    
</body>